@using System.Linq;
@using Microsoft.AspNetCore.Mvc.Razor
@using QnSHolidayCalendar.AspMvc.Modules.Session
@model IEnumerable<QnSHolidayCalendar.AspMvc.Models.Persistence.App.CalendarEntry>
@*Begin:Header*@
@{
#if DEBUG
    string currentView = ((RazorView)ViewContext.View).Path;
    string beginLabel = $"<!--View Begin: '{currentView}'-->";
    @Html.Raw(beginLabel)
#endif
    SessionWrapper sessionWrapper = new SessionWrapper(Context.Session);
    Func<string, string> translate = sessionWrapper.Translate;
}

@{
    string title = translate("Holiday");
    int[] years = Model.GroupBy(e => e.Date.Year).Select(e => e.Key).ToArray();
    int curYear = 0,curIdx = 0, loIdx = 0, upIdx = 0, offset = 7;

    if (sessionWrapper.HasValue("year"))
    {
        curYear = sessionWrapper.GetIntValue("year");
    }
    else if (years.Length > 0)
    {
        curYear = years[0];
    }
    for (int i = 0; i < years.Length; i++)
    {
        if (curYear == years[i])
        {
            curIdx = i;
            loIdx = (i / offset) * offset;
            upIdx = loIdx + offset;
        }
    }
    upIdx = upIdx > years.Length - 1 ? years.Length - 1 : upIdx;
    ViewData["Title"] = title;
}

<h1>@title</h1>

@if (sessionWrapper.IsAuthenticated)
{
    <p>
        <a asp-action="Create" asp-controller="HolidayEntry" class="btn btn-outline-secondary">@translate("Create New")</a>
    </p>
}

@if (years.Length > 1)
{
<div class="d-flex justify-content-center">
    <div class="p-0"><a class="page-link" style="background-color: lightblue;" href="/Home/IndexBy?year=@years[(curIdx > 0 ? curIdx - 1 : curIdx)]">Prev</a></div>
    @for (int i = loIdx; i <= upIdx; i++)
    {
        if (curYear == years[i])
        {
            <div class="p-0"><a class="page-link" style="background-color: lightgray;" href="/Home/IndexBy?year=@years[i]">@years[i]</a></div>
        }
        else
        {
            <div class="p-0"><a class="page-link" href="/Home/IndexBy?year=@years[i]">@years[i]</a></div>
        }
    }
    <div class="p-0"><a class="page-link" style="background-color: lightblue;" href="/Home/IndexBy?year=@years[(curIdx < years.Length - 1 ? curIdx + 1 : curIdx)]">Next</a></div>
</div>
}
<p></p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(e => e.Date.Year == curYear))
        {
            <tr>
                @if (item.Date.DayOfWeek == DayOfWeek.Sunday || item.Type == QnSHolidayCalendar.Contracts.Modules.App.HolidayType.Public)
                {
                    <td style="color: red;">
                        @Html.DisplayFor(modelItem => item.ViewDate)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ViewDate)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @if (sessionWrapper.IsAuthenticated)
                    {
                        @Html.ActionLink("Edit", "Edit", "CalendarEntry", new { id = item.Id })
                        <span>|</span>
                        @Html.ActionLink("Delete", "Delete", "CalendarEntry", new { id = item.Id });
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@*Begin:Footer*@
@{
#if DEBUG
    string endLabel = $"<!--View Ende: '{currentView}'-->";

    @Html.Raw(endLabel)
#endif
}
@*End:Footer*@
